# ==========================================
# Frontend
# ==========================================

frontend/node_modules/
frontend/dist/
frontend/dist-ssr/

# ==========================================
# Environment
# ==========================================

frontend/.env
frontend/.env.*
!frontend/.env.example

# ==========================================
# Logs
# ==========================================

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ==========================================
# Cache
# ==========================================

.cache/
coverage/
.eslintcache

# ==========================================
# Cloudflare
# ==========================================

.wrangler/

# ==========================================
# Editors
# ==========================================

.vscode/*
!.vscode/extensions.json
.idea/

# ==========================================
# OS
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# Visual Studio
# ==========================================

*.suo
*.ntvs*
*.njsproj
*.sln

# ==========================================
# Temporary
# ==========================================

*.sw?
*.tmp
*.temp